{% extends "basic_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block pagetitle %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<p>{% trans "Forgotten your username or password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="." method="post">{% csrf_token %}
{{ form.as_p }}

<input type="submit" value="{% trans 'Reset my password' %}" />
</form>

{% endblock %}
