{% extends 'base.html' %}

{% block title %}æ”¹å–„ - Add Suggestion{% endblock %}

{% block content %}
	<a href='{% url 'suggestionbox:index' %}'>Return to Previous Page</a>
	<h1>Adding a suggestion:</h1>
	<form method="POST" action="." id="suggestion-add-form">
		<table class="form">
		{% csrf_token %}
		{{form}}
		</table>
		<input class="btn" type="submit" value="Add Suggestion"></input>
	</form>
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
