{% extends 'base.html' %}

{% block title %}æ”¹å–„ - Details for {{ suggestion.title }}{% endblock %}

{% block content %}

	<h1>{{ suggestion.title }}</h1>
	<div class = "info">
		<p> By: {{ suggestion.user }} on: {{ suggestion.pub_date }}</p>
		
		<p> Status: <a href="{% url 'suggestionbox:status' suggestion.status.id %}">{{ suggestion.status }}</a> Category: <a href="{% url 'suggestionbox:category' suggestion.category.id %}">{{ suggestion.category }}</a></p>
		<p class="desc">{{ suggestion.description }}</p>
		{% if user.id == 1 %}<!--the superuser is admin which is user.id of 1 -->
			<p><a href="{% url 'suggestionbox:edit_status' suggestion.id %}">Edit Status</a></p>
	
		{% endif %}
	</div>
	
	<div class="comments">
		<h2>Comments</h2>
		<a href="{% url 'suggestionbox:add_comment' suggestion.id %}">Add a comment</a>
		{% for comment in comments %}
			{% if comment.user == suggestion.user %}
				<div class="user">
			{% else %}
				<div class="info">
			{% endif %}
				<p> By: {{ comment.user }} on: {{ comment.pub_date }}</p>
				<p class="desc">{{comment.comment}}</p>
			</div>
		{% endfor %}
		
	</div>
	<div class="cur_user">
		<p>Welcome, {{user}}.</p>
	</div>

{% endblock %}
