{% extends 'base.html' %}

{% block title %}æ”¹å–„ - Edit status of {{ suggestion.title }}{% endblock %}

{% block content %}
	<a href='{% url 'suggestionbox:detail' suggestion.id %}'>Return to Previous Page</a>
	<h1>Editing Status of:</h1>
	<h2>{{ suggestion.title }}</h2>
	<form method="POST" action="." id="status-edit-form">
		<table class="form">
		{% csrf_token %}
		{{form}}
		</table>
		<input class="btn" type="submit" value="Edit Status"></input>
	</form>
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
