{% extends 'base.html' %}

{% block title %}æ”¹å–„ - List of suggestions{% endblock %}

{% block content %}


	{% if suggestions %}
	<h1>{{status}}</h1>



	<table class="table">
	<tr>
	    <th>Author</th>
	    <th>Title</th>
	    <th>Description</th>
	    <th>Pub Date</th>
	    <th>Category</th>
	</tr>
	{% for suggestion in suggestions %}
		{% if user == suggestion.user %}
			<tr class="user">
		{% else %}
			<tr>
		{% endif %}
		    <td>{{ suggestion.user }}</td>
		    <td><a href="{% url 'suggestionbox:detail' suggestion.id %}">{{ suggestion.title }}</a></td>
		    <td>{{ suggestion.description }}</td>
		    <td>{{ suggestion.pub_date }}</td>
		    <td><a href="{% url 'suggestionbox:category' suggestion.category.id %}">{{ suggestion.category }}</a></td>
		</tr>

	{% endfor %}
	</table>
	
	{% else %}
	<h1>No suggestions Yet</h1>
	<p>Be the first of your friends to suggest something.</p>
	{% endif %}
	<div class="pagination">
		<span class="step-links">
			{% if suggestions.has_previous %}
			    <a href="?page={{ suggestions.previous_page_number }}"><</a>
			{% endif %}

			<span class="current">
			    Page {{ suggestions.number }} of {{ suggestions.paginator.num_pages }}
			</span>

			{% if suggestions.has_next %}
			    <a href="?page={{ suggestions.next_page_number }}">></a>
			{% endif %}
    		</span>


	</div>
	<div class="cur_user">
		<p>Welcome, {{user}}.</p>
	</div>
{% endblock %}
