{% load staticfiles %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="utf-8"> 
	{% block title %}<title>Kaizen-Suggestion Box</title>{% endblock %}
	<link rel ="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel ="stylesheet" href="{% static 'style.css' %}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	{% block scripts %}{% endblock %}
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
		<ul class="nav">
		  <li class="active">
		    <a class="brand" href="{% url 'suggestionbox:index' %}">Kaizen-Suggestion Box</a>
		  </li>
		  <li class="dropdown">
		    <a href="#"
			  class="dropdown-toggle"
			  data-toggle="dropdown">
			  Categories
			  <b class="caret"></b>
		    </a>
		    <ul class="dropdown-menu">
		     {% for category in categories %}
		     <li><a href="{% url 'suggestionbox:category' category.id %}">{{category.title}}</a></li>
		     {% endfor %}
		    </ul>
		  </li>
		  <li class="dropdown">
		    <a href="#"
			  class="dropdown-toggle"
			  data-toggle="dropdown">
			  Suggestions
			  <b class="caret"></b>
		    </a>
		    <ul class="dropdown-menu">
		     {% for suggestion in suggestions %}
		     <li><a href="{% url 'suggestionbox:detail' suggestion.id %}">{{suggestion.title}}</a></li>
		     {% endfor %}
		    </ul>
		  </li>
		  <li class="dropdown">
		    <a href="#"
			  class="dropdown-toggle"
			  data-toggle="dropdown">
			  Statuses
			  <b class="caret"></b>
		    </a>
		    <ul class="dropdown-menu">
		     {% for status in statuses %}
		     <li><a href="{% url 'suggestionbox:status' status.id %}">{{status.title}}</a></li>
		     {% endfor %}
		    </ul>
		  </li>
		</ul>
		 <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'auth_logout' %}"> Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-user"></span> Log In</a></li>
                    {% endif %}
		    {% if user.is_superuser %}
			<li><a href="{% url 'admin:app_list' 'suggestionbox' %}">Admin</a></li>
		    {% endif %}
		    <li><a href="{% url 'twitter:index' %}">Twitter</a></li>
		    <li><a href="http://mysite.smg247.webfactional.com">Other Apps</a></li>
                </ul>

	    </div>
	  </div>
	</div> 
	<div class="content">
	{% block content %}

	{% endblock %}
		<div class="footer">
		Created by: Stephen Goeddel<br />
		On: 9/26/2013
	</div>
	</div>

</body>

</html>
