{% extends 'twitter_base.html' %}
{% load staticfiles %}
{% block title %}Twitter-{{profile.user.username}}{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1>@{{profile.user}}</h1>
	<h3>Create Your Profile</h3>
	<form method="POST" action="." id="profile-add-form" enctype="multipart/form-data">
	<table class="form">
                {% csrf_token %}
                {{form}}
        </table>
        <input class="btn" type="submit" value="Create Profile"></input>
	</form>
</div>
{% endblock %}
