{% extends 'twitter_base.html' %}
{% load staticfiles %}
{% block title %}Twitter-Add Post{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1>Add a new post</h1>
	<form method="POST" action="." id="post-add-form">
	<table class="form">
                {% csrf_token %}
                {{form}}
        </table>
        <input class="btn" type="submit" value="Add Post"></input>
	</form>
</div>
{% endblock %}
