{% extends 'twitter_base.html' %}
{% load staticfiles %}
{% block title %}Twitter-Index{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1>Welcome, @{{user.username}}.</h1>
	{% if new %}
		<h3><a href="{% url 'twitter:add_profile' %}">Create your profile now!</a></h3>
	{% else %}<!--we don't want the user doing anything until they create their profile -->
		<h3><a href="{% url 'twitter:add_post' %}">Add a new post</a>, or look at some users to follow!</h3>
	<table class="profiles">

		{% for profile in profiles %}
			<tr>
				<td><a href="{% url 'twitter:profile' profile.id %}"><img src ="{{ MEDIA_ROOT }}{{ profile.image.url }}" width=100px height=100px></a></td>
				<td><a href="{% url 'twitter:profile' profile.id %}">@{{profile.user.username}}</a></td>
				<td>{{profile.bio}}</td>
				{% if not new and not profile == user_profile %}<!--don't let them unfollow themselves-->
					{% if profile not in user_profile.following.all  %}
						<td><a href="{% url 'twitter:follow' profile.id 1 %}">Follow</a></td>
					{% else %}
						<td><a href="{% url 'twitter:follow' profile.id 0 %}">Unfollow</a></td>
					{% endif %}
				{% endif %}
			</tr>	
		{% endfor %}
	</table>
	{% endif %}
</div>
	
{% endblock %}
