{% extends 'twitter_base.html' %}
{% load staticfiles %}
{% block title %}Twitter-{{profile.user.username}}{% endblock %}

{% block content %}

<div class="jumbotron">
{% if profile %}
	{% if cur_user %}
		<a href="{% url 'twitter:edit_profile' profile.id %}" class="edit">Edit Profile</a>
		<a href="{% url 'twitter:add_post' %}" class="add">Add Post</a>
	{% else %}
		{% if profile not in user_profile.following.all %}
			<a href="{% url 'twitter:follow' profile.id 1 %}" class="follow">Follow</a>
		{% else %}
			<a href="{% url 'twitter:follow' profile.id 0 %}" class="follow">Unfollow</a>
		{% endif %}
	{% endif %}
	<img src ="{{ MEDIA_ROOT }}{{ profile.image.url }}" width=150px height=150px class="profile-img">
	<h1>@{{profile.user}}'s Microblog</h1>
	<h4>A little bit about me:</h4>
	<p class="bio">{{profile.bio}}</p>
	
{% else %}
	<p>You have yet to create a profile</p>
{% endif %}	
</div>
{% if posts or all_posts %}
	
<div class="posts">
	
	{% if not cur_user %}
		<h3>What I have to say</h3>
		<table class="post-table">
			{% for post in posts %}
				
				<tr>
					<td>{% if post.linked_profile %}<a href="{% url 'twitter:profile' post.linked_profile.id %}">@{{post.linked_profile}} </a>{% endif %}{{post.body}}</td>
					<td>On: {{post.pub_date}}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<h3>What people I am following have to say</h3>
		<table class="post-table">
			{% for post in all_posts %}
				
				<tr>
					<td><a href="{%url 'twitter:profile' post.profile.id %}">@{{post.profile}}:</a></td>
					<td>{% if post.linked_profile %}<a href="{% url 'twitter:profile' post.linked_profile.id %}">@{{post.linked_profile}} </a>{% endif %}{{post.body}}</td>
					<td>On: {{post.pub_date}}</td>
					{% if post.profile.id == user.id %}
						<td><a href="{% url 'twitter:delete_post' post.id %}">Delete</a></td>
					{% else %}
						<td><a href="{% url 'twitter:follow' post.profile.id 0 %}">Unfollow</a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}
</div>
{% endif %}
{% if mentions %}
<div class ="mentions">
	<h3>What others have to say about me</h3>
	<table class="post-table">

		{% for mention in mentions %}
			
			<tr>
				<td><a href="{% url 'twitter:profile' mention.profile.id %}">@{{mention.profile}}:</a></td>
				<td>@{{mention.linked_profile}} {{mention.body}}</td>
				<td>On: {{mention.pub_date}}</td>
			</tr>
		{% endfor %}
	</table>


</div>
{% endif %}
{% endblock %}
