{% extends 'basic_base.html' %}

{% block title %}You've Been Logged Out{% endblock %}

{% block content %}
<h2>Logged Out Successfully</h2>

<p>You've been logged out successfully.</p>
{% endblock %}
