{% extends 'basic_base.html' %}

{% block title %}Registration Complete!{% endblock %}

{% block content %}
<h2>Registration Complete!</h2>

<p>Thank you for registering an account with us.  You will receive an e-mail within the next hour at the address specified explaining how you are to activate your new membership.  You must follow these directions before you will be allowed to login and begin using your account.</p>

<p>If you do not receive this e-mail within an hour, please check your spam or junk mail folders.</p>
{% endblock %}
