.content{
	width:966px;
	min-height:500px;
	margin: 0px auto 0px auto;
	padding:30px 5px 0px 5px;
	background: rgb(210,235,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(210,235,249,1) 0%, rgba(254,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,235,249,1)), color-stop(100%,rgba(254,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(210,235,249,1) 0%,rgba(254,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 5px 5px 2px #ddd;


}

.jumbotron {
	width:700px;
	min-height:200px; /*to accomodate profiles that have no posts yet */
	margin:5px auto;
	padding:20px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 2px 2px 0px #ddd;
	
}
.posts, .mentions{
	width:700px;
	margin:5px auto;
	padding:20px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 2px 2px 0px #ddd;
	
}

.head {
	text-align:center;
}
h1{
	color:#66CCCC;
	text-align:center;
}
h2{
	color:#888;
	text-align:center;
}
h3, h4{
	color:#BBB;
	text-align:center;
}
.add{
	margin: 0px auto;
}
.btn {
	width:220px;
	position:relative;
	left:278px;
}
.edit {
	position:relative;
	left:20px;

}
.info {
	text-align:center;
	color:#999;
}
.desc {
	color:#000;
}
.comments {
	text-align:center;
	color:#999;
	border-top:1px solid;
}
.user{
	color:#FF0000;
	font-style:oblique;

}
.table {


}
.form {
	margin:20px auto 0px auto;

}

.btn {
	width:400px;
	position:relative;
	left:510px;
}
.footer {
	margin:20px 0px 0px 0px;
	padding: 0px;
	text-align:right;
	position:relative;
	left:0px;
}
.messages {
	list-style:none;

}
.success {
	color:green;
	list-style:none;

}
.error {
	color:red;
	list-style:none;
}
.cur_user {
	position:absolute;
	top:45px;

}
/* this is where the styles added for the twitter app begin */


.profiles {
	margin: 0px auto;

}
.profiles td {
	padding: 10px;
}
.profile-img {
	float:left;
	margin:10px 0px;
	border:2px solid #BBB;
}

.bio {
	text-align:center;
}

.post-table {
	margin:0px auto;
	
}
.post-table td {
	padding:10px;
}

.edit {
	position:relative;
	top:-20px;
	left:490px;
}
.add {
	position:relative;
	top:200px;
	left:428px;
}
.follow {
	position:relative;
	top:-20px;
	left:510px;
}

